In [146]:
import pandas as pd
df = pd.read_csv('texto.txt')

In [13]:
opcao = int(input('Ola, porfavor escolha uma das opções abaixo\n1 - Cadastrar produto\n2 - Consultar produto\n3 - Listar produtos cadastrados\n4 - Atualizar cadastro\n5 - Excluir cadastro\n6 - Sair\n Vocë optou pela opção: '))

Ola, porfavor escolha uma das opções abaixo
1 - Cadastrar produto
2 - Consultar produto
3 - Listar produtos cadastrados
4 - Atualizar cadastro
5 - Excluir cadastro
6 - Sair
 Vocë optou pela opção: 5

In [24]:
id_list = list(df.product_id)
opcao = int(input('Ola, por favor escolha uma das opções abaixo\n1 - Cadastrar produto\n2 - Consultar produto\n3 - Listar produtos cadastrados\n4 - Atualizar cadastro\n5 - Excluir cadastro\n6 - Sair\nVocë optou pela opção: '))
while (opcao < 1 or opcao > 6):
  print('\nPor favor, insira uma Opção Valida')
  opcao = int(input('\nOla, por favor escolha uma das opções abaixo\n1 - Cadastrar produto\n2 - Consultar produto\n3 - Listar produtos cadastrados\n4 - Atualizar cadastro\n5 - Excluir cadastro\n6 - Sair\n Vocë optou pela opção: '))

Ola, porfavor escolha uma das opções abaixo
1 - Cadastrar produto
2 - Consultar produto
3 - Listar produtos cadastrados
4 - Atualizar cadastro
5 - Excluir cadastro
6 - Sair
Vocë optou pela opção: 1

In [148]:
# Adicionar linha 

#if (opcao == 1):

product_id = int(input('Insira um número inteiro referente ao ID do produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

product_name = str(input('Insira o nome do produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

price = int(input('Insira um número o preço do produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

weight_mg_or_ml = int(input('Insira o peso de produto em mg ou ml.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

color = str(input('Insira a cor do produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

product_validity_days = int(input('Insira quantos dias o produto é válido.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

sortmeant = int(input('Insira qual o tamanho do estoque do produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

description = str(input('Insira uma descrição para o produto.\nCaso não seja possível preencher escreva "nao_aplicavel"\n'))

add = {'product_id': product_id, 'product_name': product_name, 'price': price,
        'weight_mg_or_ml': weight_mg_or_ml, 'color': color, 'product_validity_days':product_validity_days,
        'sortmeant': sortmeant, 'description': description}
add = pd.DataFrame([add])

df = pd.DataFrame( df.append(add) )

C:\Users\arqui\AppData\Local\Temp\ipykernel_45520\113323566.py:26: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  pd.DataFrame( df.append(add) )

,product_id,product_name,price,weight_mg_or_ml,color,product_validity_days,sortmeant,description
0,29,banana_unitaria,0.95,nao_aplicavel,amarelo,4,300,Bananas bananosas sabor banana
1,34,amaciante,27.99,1.000,nao_aplicavel,720,0,nao_aplicavel
2,11,feijao_enlatado,3.98,300,nao_aplicavel,5.475,55,feijao feijoosos sabor feijao
3,79,caixa_de_uva,"44.692,00",450,roxa,5,5,NaN
4,74,sabao_liquido,23.0,275,nao_aplicavel,720,73,nao_aplicavel
5,31,sardinha_enlatada,7.98,300,nao_aplicavel,1.825,0,bixo morto enlatado com alto teor de conservan...
6,55,aparador_de_grama,"775,00",4.750,verde,nao_aplicavel,15,barbeiro de mato portatil
7,4,sabao_em_po,9.99,600,nao_aplicavel,720,102,nao_aplicavel
8,1,pessegos_enlatados,"44.695,00",125,nao_aplicavel,1.095,23,nao_aplicavel
9,35,regador,nao_aplicavel,80,preto,nao_aplicavel,3,regador com bico de dispersão ajustavel
0,12,qw,12,12,qw,12,12,qw

In [87]:
# Consultar Produto

#elif (opcao == 2):

id = eval(input('Por favor, insira um número inteiro referente ao ID do produto: '))

while (id // 1 != id ) | (id not in id_list) :
  print('\nVocë digitou um ID invalido, por favor insira um número inteiro referente ao id')
  id = eval(input('\nPor favor, insira um número inteiro referente ao ID do produto: '))

df.loc[df.product_id == id]

,product_id,product_name,price,weight_mg_or_ml,color,product_validity_days,sortmeant,description,name
8,1,tobias,12,12,12,1.095,12,12,nome

In [67]:
# Listar produtos
#elif (opcao == 3):
lista = []
lista = df[['product_id', 'product_name']]
lista

   product_id       product_name
0          34          amaciante
1          11    feijao_enlatado
2          79       caixa_de_uva
3          74      sabao_liquido
4          31  sardinha_enlatada
5           4        sabao_em_po
6          35            regador

In [83]:
# Atualizar Produto
#elif (opcao == 4):
id = eval(input('Por favor, insira um número inteiro referente ao ID do produto: '))

while (id // 1 != id ) | (id not in id_list):
  print('\nVocë digitou um ID invalido, por favor insira um número inteiro referente ao id')
  id = eval(input('\nPor favor, insira um número inteiro referente ao ID do produto: '))


nome = str(input('Insira o nome do produto '))
df.loc[(df.product_id == id), 'product_name'] = nome

preco = eval(input('Insira o preco do produto '))
df.loc[(df.product_id == id), 'price'] = preco

peso = eval(input('Insira o peso do produto '))
df.loc[(df.product_id == id), 'weight_mg_or_ml'] = peso

cor = str(input('Insira o cor do produto '))
df.loc[(df.product_id == id), 'color'] = cor

validade = eval(input('Insira, em dias, a validade do produto '))
df.loc[(df.product_id == id), 'product_validity_days'] == validade

estoque = eval(input('Insira o estoque do produto '))
df.loc[(df.product_id == id), 'sortmeant'] = estoque

descricao = str(input('Insira o descricao do produto '))
df.loc[(df.product_id == id), 'description'] = descricao

In [57]:
# Excluir Produto
#elif (opcao == 5):
id = eval(input('Por favor, insira um número inteiro referente ao ID do produto: '))

while (id // 1 != id ) | (id not in id_list):
  print('\nVocë digitou um ID invalido, por favor insira um número inteiro referente ao id')
  id = eval(input('\nPor favor, insira um número inteiro referente ao ID do produto: '))

if (id in id_list):
  while (id // 1 != id ):
    print('\nVocë digitou um ID inexistente, por favor insira um número inteiro referente ao id')
    id = eval(input('\nPor favor, insira um número inteiro referente ao ID do produto: '))
  df = df.loc[df.product_id != id].reset_index(drop=True)
  id_list = list(df.product_id)
  display(df.head(30))

Vocë digitou um ID invalido, por favor insira um número inteiro referente ao id

Vocë digitou um ID invalido, por favor insira um número inteiro referente ao id

,index,product_id,product_name,price,weight_mg_or_ml,color,product_validity_days,sortmeant,description
0,1,34,amaciante,27.99,1.000,nao_aplicavel,720,0,nao_aplicavel
1,2,11,feijao_enlatado,3.98,300,nao_aplicavel,5.475,55,feijao feijoosos sabor feijao
2,3,79,caixa_de_uva,"44.692,00",450,roxa,5,5,NaN
3,4,74,sabao_liquido,23.0,275,nao_aplicavel,720,73,nao_aplicavel
4,5,31,sardinha_enlatada,7.98,300,nao_aplicavel,1.825,0,bixo morto enlatado com alto teor de conservan...
5,7,4,sabao_em_po,9.99,600,nao_aplicavel,720,102,nao_aplicavel
6,9,35,regador,nao_aplicavel,80,preto,nao_aplicavel,3,regador com bico de dispersão ajustavel