# 0.0 IMPORTS

In [28]:
import pandas as pd
import numpy as np

# 1.0 CRIANDO E CARREGANDO DFs

In [2]:
df_compras = pd.read_fwf('/home/arquinho/REPOS/graduation_projects/cases/estagios/case_raconn/DE_Raccoon_Case/psel_de_compras.txt', header=None)

In [3]:
df_compras.head()

,0,1
0,<!-- saved from url=(0065)https://us-central1-...,-->
1,"<html><head><meta http-equiv=""Content-Type"" co...","class=""vsc-initialized"">nome,show,gastos"
2,"Joseph Wray,Symbolic Toy,3142.35",NaN
3,"Barbara Mcneil,Symbolic Toy,2431.78",NaN
4,"Eduardo Espenshade,Symbolic Toy,386.32",NaN

In [4]:
# quebrando coluna
df_compras[['nome', 'show', 'gastos']] = df_compras[0].str.split(',', expand=True)

#doprando colunas antigas
df_compras = df_compras.drop(columns=[0])
df_compras = df_compras.drop(columns=[1])

#selecionando linhas nao sujas
df_compras = (df_compras.loc[2:500]).reset_index()

#resetando index
df_compras = df_compras.drop(columns=['index'])
df_compras.head()

                 nome          show   gastos
0         Joseph Wray  Symbolic Toy  3142.35
1      Barbara Mcneil  Symbolic Toy  2431.78
2  Eduardo Espenshade  Symbolic Toy   386.32
3         Lucia Hayes  Symbolic Toy  3373.49
4     Johnny Hairston  Symbolic Toy  2805.88

In [5]:
df_compras.shape

(499, 3)

In [6]:
df_compras.dtypes

nome      object
show      object
gastos    object
dtype: object

In [7]:
#criando um dicionario com valores referentes a ingresso
test_ticket = [{"ano":2020,"dia":1,"mes":1,"nome":"Benjamin Mcdonald","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Mitchell Kostyla","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Gerald Allen","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Frederick Bank","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Tina Yee","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Ruth Ridge","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Jeffrey Pace","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Nicholas Johansson","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"William Barnes","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Charles Hershenson","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Edna Martinez","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Lyle Branch","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Deborah Silsby","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Nancy Smith","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Donna Chandler","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"John Rich","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"John Rich","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Maria Marshall","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Tina Yee","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Felicia Hallman","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Guadalupe Bell","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Shayla Baird","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Kelly Williamson","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Edna Martinez","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"James Coffey","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Frances Lambert","status":"Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Matt Smudrick","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":2,"mes":1,"nome":"Alice Gamba","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"Tina Yee","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"John Rich","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"Larry Teague","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"Andrea Galyen","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"Yong Baltazar","status":"Nao Concluido","tipo":"VIP"},{"ano":2020,"dia":3,"mes":1,"nome":"Elizabeth Daly","status":"Problema no Pagamento","tipo":"VIP"},{"ano":2020,"dia":1,"mes":1,"nome":"Joshua Sanderson","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Donna Wal","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Andrea Galyen","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Lyle Branch","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Debra Howard","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Debra Howard","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Daniel Puckett","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Gretchen Hinojosa","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Suzanne Herring","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Jarrod Adler","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Gretchen Hinojosa","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Travis Whatley","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"Elizabeth Daly","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"Lyle Branch","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"Emil Nord","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"John Rich","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"James Reaves","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"Frank Houck","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"John Rich","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":2,"mes":1,"nome":"Courtney Edwards","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Richard Culpepper","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Young Besaw","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Lucia Hayes","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Kelly Williamson","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Marcela Nelson","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Sandra Duncan","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Miguel Ramey","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Nancy Degroot","status":"Nao Concluido","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Edward Smith","status":"Problema no Pagamento","tipo":"Pista"},{"ano":2020,"dia":3,"mes":1,"nome":"Mitchell Kostyla","status":"Concluido","tipo":"Pista"},{"ano":2020,"dia":1,"mes":1,"nome":"John Rich","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Clara Faupel","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Blanche Knox","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Michael Gaines","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Maria Villa","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Ricardo Clasby","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"James Reaves","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Richard Culpepper","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Frank Houck","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Courtney Edwards","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Tina Yee","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Pamela Nixon","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":1,"mes":1,"nome":"Brenda Key","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Frederick Bank","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Frank Davilla","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Mitchell Kostyla","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"James Reaves","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Sabrina Graves","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Kathleen Duncan","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Richard Culpepper","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Margaret Robinson","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Rick Fleishman","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Linda Batiz","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Michael Gaines","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":2,"mes":1,"nome":"Amy Mejia","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"John Rich","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"John Rich","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Donna Wal","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Joseph Wray","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Barbara Mcneil","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Eduardo Espenshade","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Richard Jimenez","status":"Nao Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Curtis Hernandez","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Alice Gamba","status":"Concluido","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Brenda Kozak","status":"Problema no Pagamento","tipo":"Pista Premium"},{"ano":2020,"dia":3,"mes":1,"nome":"Robert Copenhaver","status":"Concluido","tipo":"Pista Premium"}]

In [8]:
#criando dataframe apartir do dicionario
df_tickets = pd.DataFrame.from_dict(test_ticket)
df_tickets.head()

    ano  dia  mes               nome                 status tipo
0  2020    1    1  Benjamin Mcdonald          Nao Concluido  VIP
1  2020    1    1   Mitchell Kostyla          Nao Concluido  VIP
2  2020    1    1       Gerald Allen          Nao Concluido  VIP
3  2020    1    1     Frederick Bank  Problema no Pagamento  VIP
4  2020    1    1           Tina Yee          Nao Concluido  VIP

In [9]:
df_tickets.shape

(100, 6)

In [10]:
#criando dicionario
test_shows = {"Nascent Letter":{"ano":2020,"dia":2,"mes":1},"Symbolic Toy":{"ano":2020,"dia":3,"mes":1},"Terrestrial Chair":{"ano":2020,"dia":1,"mes":1}}

#criando dataframe apartir do dicionario
df_show = pd.DataFrame.from_dict(test_shows)
df_show.head()

     Nascent Letter  Symbolic Toy  Terrestrial Chair
ano            2020          2020               2020
dia               2             3                  1
mes               1             1                  1

# 2.0 JUNTANDO DFs

In [11]:
# criacao coluna shows df_tickets
df_tickets['show'] = 'NaN'
df_tickets['show'] = df_tickets.apply( lambda x: 'Terrestrial Chair' if x['dia'] == 1 else 'Nascent Letter' if x['dia'] == 2 else 'Symbolic Toy', axis=1)

#selecao de colunas df_tickets
df_tickets = df_tickets[['nome', 'show', 'status', 'tipo', 'dia']]

#selecao de colunas df_compras
df_compras = df_compras[['nome', 'gastos']]

In [12]:
df_compras.head()

                 nome   gastos
0         Joseph Wray  3142.35
1      Barbara Mcneil  2431.78
2  Eduardo Espenshade   386.32
3         Lucia Hayes  3373.49
4     Johnny Hairston  2805.88

In [13]:
df_merged = df_compras.merge(df_tickets, on='nome')

In [14]:
df_merged.isna().sum()

nome      0
gastos    0
show      0
status    0
tipo      0
dia       0
dtype: int64

In [15]:
df1 = df_merged.copy()

In [16]:
df1.head()

,nome,gastos,show,status,tipo,dia
0,Joseph Wray,3142.35,Symbolic Toy,Problema no Pagamento,Pista Premium,3
1,Barbara Mcneil,2431.78,Symbolic Toy,Concluido,Pista Premium,3
2,Eduardo Espenshade,386.32,Symbolic Toy,Concluido,Pista Premium,3
3,Lucia Hayes,3373.49,Symbolic Toy,Concluido,Pista,3
4,Kathleen Duncan,2211.61,Nascent Letter,Concluido,Pista Premium,2

In [17]:
df1['gastos'] = df1['gastos'].astype(float)

# 3.0 RESP0NDENDO QUESTÕES DO CASE

## 1. Qual a média de gastos de pessoas com ingresso Pista?

A média de gastos da pessoas com ingressos do tipo Pista foi **1792.65** unidades monetarias

In [18]:
df1[['gastos', 'tipo']].groupby('tipo').mean()

                    gastos
tipo
Pista          1792.651020
Pista Premium  1687.675909
VIP            1841.951598

## 2. Quais pessoas não compareceram aos shows?

**Todas** as pessoas que compraram os ingressos compareceram ao show!

In [19]:
df1['nome'][(df1['status']=='Concluido') & (df1['gastos']==0)].count()

0

## 3. Quais pessoas compraram ingressos com concorrentes?

As pessoas que compraram os ingressos com os concorrentes foram : 'Joseph Wray', 'Margaret Robinson', 'Shayla Baird', 'Benjamin Mcdonald', 'Gerald Allen', 'Suzanne Herring', 'Emil Nord', 'Blanche Knox', 'Debra Howard', 'James Reaves', 'Jarrod Adler', 'Jeffrey Pace', 'Larry Teague', 'Andrea Galyen', 'Edna Martinez', 'Frank Davilla', 'Daniel Puckett', 'Maria Marshall', 'Sabrina Graves', 'William Barnes', 'Richard Jimenez', 'Joshua Sanderson', 'Kelly Williamson' e 'Charles Hershenson'

In [20]:
# Criação do DF de pessoas que concluiram a compra
dropa = pd.DataFrame()
dropa['nome'] = df1['nome'][(df1['status']=='Concluido') ].unique()

# Criação de um df com todas as pessoas
original = pd.DataFrame()
original['nome'] = df1['nome'].unique()

# Junção de ambos os DFs evidenciando quem estava presente em ambos 
df_merge = original.merge(dropa, how='outer', indicator=True)

# Selecao dos atributos que existiam apenas no DF original 
df_concorrentes = df_merge['nome'][df_merge['_merge']=='left_only'].reset_index()

In [21]:
df_concorrentes['nome'].unique()

array(['Joseph Wray', 'Margaret Robinson', 'Shayla Baird',
       'Benjamin Mcdonald', 'Gerald Allen', 'Suzanne Herring',
       'Emil Nord', 'Blanche Knox', 'Debra Howard', 'James Reaves',
       'Jarrod Adler', 'Jeffrey Pace', 'Larry Teague', 'Andrea Galyen',
       'Edna Martinez', 'Frank Davilla', 'Daniel Puckett',
       'Maria Marshall', 'Sabrina Graves', 'William Barnes',
       'Richard Jimenez', 'Joshua Sanderson', 'Kelly Williamson',
       'Charles Hershenson'], dtype=object)

## 4. Qual o dia com maior gasto?

O **PRIMEIRO** dia foi o dia com mais gastos

In [22]:
df1[['gastos', 'dia']].groupby('dia').sum()

        gastos
dia
1    258179.72
2    255496.88
3    158937.37

## 5. Faça uma lista com os clientes que desistiram de comprar o ingresso com a AT, a soma do valor que foi gasto durante os shows e quais shows eles desistiram decomprar. Usar para resposta o esquema abaixo:

In [52]:
# Criação do DF de pessoas que concluiram a compra
dropa2 = pd.DataFrame()
dropa2['nome'] = df1['nome'][(df1['status']=='Concluido') ].unique()

# Criação de um df com todas as pessoas
original2 = pd.DataFrame()
original2['nome'] = df1['nome'].unique()

# Junção de ambos os DFs evidenciando quem estava presente em ambos 
df2_merge = original2.merge(dropa2, how='outer', indicator=True)

# Selecao dos atributos que existiam apenas no DF original 
df_concorrente2 = df2_merge['nome'][df2_merge['_merge']=='left_only'].reset_index()

# Junção dos atributos, pelo nome, que existiam no df_concorrentes e no DF1 original 
df_final = df_concorrente2.merge(df1[['nome', 'gastos', 'show']], on='nome', how='inner')

#exclusão da coluna indix
df_final = df_final.drop(columns=['index'])

# Criando coluna para o nome das colunas e valores da lista

cols = df_final.columns.values.tolist()
list = df_final.values.tolist()

# Juntando colunas e valores em uma só lista
list.insert(0, cols)
list

[['nome', 'gastos', 'show'],
 ['Joseph Wray', 3142.35, 'Symbolic Toy'],
 ['Margaret Robinson', 3148.62, 'Nascent Letter'],
 ['Shayla Baird', 1613.1, 'Nascent Letter'],
 ['Benjamin Mcdonald', 2309.81, 'Terrestrial Chair'],
 ['Gerald Allen', 3447.17, 'Terrestrial Chair'],
 ['Suzanne Herring', 3387.75, 'Terrestrial Chair'],
 ['Emil Nord', 1564.02, 'Nascent Letter'],
 ['Emil Nord', 1989.97, 'Nascent Letter'],
 ['Emil Nord', 1654.88, 'Nascent Letter'],
 ['Emil Nord', 3143.93, 'Nascent Letter'],
 ['Blanche Knox', 2576.41, 'Terrestrial Chair'],
 ['Blanche Knox', 924.31, 'Terrestrial Chair'],
 ['Debra Howard', 1998.8, 'Terrestrial Chair'],
 ['Debra Howard', 1998.8, 'Terrestrial Chair'],
 ['Debra Howard', 3440.07, 'Terrestrial Chair'],
 ['Debra Howard', 3440.07, 'Terrestrial Chair'],
 ['Debra Howard', 109.46, 'Terrestrial Chair'],
 ['Debra Howard', 109.46, 'Terrestrial Chair'],
 ['Debra Howard', 2648.33, 'Terrestrial Chair'],
 ['Debra Howard', 2648.33, 'Terrestrial Chair'],
 ['Debra Howard', 1019.54, 'Terrestrial Chair'],
 ['Debra Howard', 1019.54, 'Terrestrial Chair'],
 ['Debra Howard', 2101.82, 'Terrestrial Chair'],
 ['Debra Howard', 2101.82, 'Terrestrial Chair'],
 ['James Reaves', 2621.87, 'Nascent Letter'],
 ['James Reaves', 2621.87, 'Terrestrial Chair'],
 ['James Reaves', 2621.87, 'Nascent Letter'],
 ['James Reaves', 462.61, 'Nascent Letter'],
 ['James Reaves', 462.61, 'Terrestrial Chair'],
 ['James Reaves', 462.61, 'Nascent Letter'],
 ['James Reaves', 2148.16, 'Nascent Letter'],
 ['James Reaves', 2148.16, 'Terrestrial Chair'],
 ['James Reaves', 2148.16, 'Nascent Letter'],
 ['James Reaves', 1501.68, 'Nascent Letter'],
 ['James Reaves', 1501.68, 'Terrestrial Chair'],
 ['James Reaves', 1501.68, 'Nascent Letter'],
 ['James Reaves', 1385.43, 'Nascent Letter'],
 ['James Reaves', 1385.43, 'Terrestrial Chair'],
 ['James Reaves', 1385.43, 'Nascent Letter'],
 ['Jarrod Adler', 1213.95, 'Terrestrial Chair'],
 ['Jarrod Adler', 1183.13, 'Terrestrial Chair'],
 ['Jarrod Adler', 1697.92, 'Terrestrial Chair'],
 ['Jarrod Adler', 409.46, 'Terrestrial Chair'],
 ['Jarrod Adler', 1070.84, 'Terrestrial Chair'],
 ['Jeffrey Pace', 1454.98, 'Terrestrial Chair'],
 ['Jeffrey Pace', 1329.91, 'Terrestrial Chair'],
 ['Jeffrey Pace', 3025.89, 'Terrestrial Chair'],
 ['Larry Teague', 2887.19, 'Symbolic Toy'],
 ['Larry Teague', 2506.87, 'Symbolic Toy'],
 ['Larry Teague', 674.45, 'Symbolic Toy'],
 ['Larry Teague', 1166.7, 'Symbolic Toy'],
 ['Larry Teague', 3391.61, 'Symbolic Toy'],
 ['Larry Teague', 1510.53, 'Symbolic Toy'],
 ['Larry Teague', 624.81, 'Symbolic Toy'],
 ['Larry Teague', 1531.52, 'Symbolic Toy'],
 ['Larry Teague', 2690.14, 'Symbolic Toy'],
 ['Larry Teague', 3482.18, 'Symbolic Toy'],
 ['Larry Teague', 2281.54, 'Symbolic Toy'],
 ['Larry Teague', 3397.91, 'Symbolic Toy'],
 ['Andrea Galyen', 828.95, 'Symbolic Toy'],
 ['Andrea Galyen', 828.95, 'Terrestrial Chair'],
 ['Andrea Galyen', 3467.13, 'Symbolic Toy'],
 ['Andrea Galyen', 3467.13, 'Terrestrial Chair'],
 ['Andrea Galyen', 837.73, 'Symbolic Toy'],
 ['Andrea Galyen', 837.73, 'Terrestrial Chair'],
 ['Edna Martinez', 1939.85, 'Terrestrial Chair'],
 ['Edna Martinez', 1939.85, 'Nascent Letter'],
 ['Edna Martinez', 187.15, 'Terrestrial Chair'],
 ['Edna Martinez', 187.15, 'Nascent Letter'],
 ['Edna Martinez', 2423.1, 'Terrestrial Chair'],
 ['Edna Martinez', 2423.1, 'Nascent Letter'],
 ['Edna Martinez', 3467.09, 'Terrestrial Chair'],
 ['Edna Martinez', 3467.09, 'Nascent Letter'],
 ['Edna Martinez', 3170.22, 'Terrestrial Chair'],
 ['Edna Martinez', 3170.22, 'Nascent Letter'],
 ['Edna Martinez', 596.59, 'Terrestrial Chair'],
 ['Edna Martinez', 596.59, 'Nascent Letter'],
 ['Edna Martinez', 64.95, 'Terrestrial Chair'],
 ['Edna Martinez', 64.95, 'Nascent Letter'],
 ['Edna Martinez', 2136.61, 'Terrestrial Chair'],
 ['Edna Martinez', 2136.61, 'Nascent Letter'],
 ['Edna Martinez', 3293.03, 'Terrestrial Chair'],
 ['Edna Martinez', 3293.03, 'Nascent Letter'],
 ['Edna Martinez', 3324.18, 'Terrestrial Chair'],
 ['Edna Martinez', 3324.18, 'Nascent Letter'],
 ['Frank Davilla', 3023.16, 'Nascent Letter'],
 ['Frank Davilla', 3020.21, 'Nascent Letter'],
 ['Frank Davilla', 1083.69, 'Nascent Letter'],
 ['Frank Davilla', 1578.16, 'Nascent Letter'],
 ['Frank Davilla', 146.19, 'Nascent Letter'],
 ['Frank Davilla', 2175.09, 'Nascent Letter'],
 ['Daniel Puckett', 1619.9, 'Terrestrial Chair'],
 ['Daniel Puckett', 2362.06, 'Terrestrial Chair'],
 ['Daniel Puckett', 317.64, 'Terrestrial Chair'],
 ['Daniel Puckett', 183.32, 'Terrestrial Chair'],
 ['Daniel Puckett', 988.06, 'Terrestrial Chair'],
 ['Maria Marshall', 3390.66, 'Nascent Letter'],
 ['Maria Marshall', 2117.21, 'Nascent Letter'],
 ['Maria Marshall', 1963.9, 'Nascent Letter'],
 ['Maria Marshall', 3180.4, 'Nascent Letter'],
 ['Sabrina Graves', 1169.12, 'Nascent Letter'],
 ['Sabrina Graves', 724.15, 'Nascent Letter'],
 ['William Barnes', 3110.89, 'Terrestrial Chair'],
 ['William Barnes', 2211.86, 'Terrestrial Chair'],
 ['William Barnes', 3218.63, 'Terrestrial Chair'],
 ['Richard Jimenez', 1170.46, 'Symbolic Toy'],
 ['Richard Jimenez', 3293.42, 'Symbolic Toy'],
 ['Joshua Sanderson', 1103.17, 'Terrestrial Chair'],
 ['Joshua Sanderson', 1103.45, 'Terrestrial Chair'],
 ['Joshua Sanderson', 1775.6, 'Terrestrial Chair'],
 ['Kelly Williamson', 1202.18, 'Nascent Letter'],
 ['Kelly Williamson', 1202.18, 'Symbolic Toy'],
 ['Kelly Williamson', 3182.38, 'Nascent Letter'],
 ['Kelly Williamson', 3182.38, 'Symbolic Toy'],
 ['Kelly Williamson', 2466.85, 'Nascent Letter'],
 ['Kelly Williamson', 2466.85, 'Symbolic Toy'],
 ['Kelly Williamson', 2446.66, 'Nascent Letter'],
 ['Kelly Williamson', 2446.66, 'Symbolic Toy'],
 ['Kelly Williamson', 82.08, 'Nascent Letter'],
 ['Kelly Williamson', 82.08, 'Symbolic Toy'],
 ['Kelly Williamson', 1697.67, 'Nascent Letter'],
 ['Kelly Williamson', 1697.67, 'Symbolic Toy'],
 ['Kelly Williamson', 2211.27, 'Nascent Letter'],
 ['Kelly Williamson', 2211.27, 'Symbolic Toy'],
 ['Kelly Williamson', 2765.24, 'Nascent Letter'],
 ['Kelly Williamson', 2765.24, 'Symbolic Toy'],
 ['Charles Hershenson', 3337.29, 'Terrestrial Chair'],
 ['Charles Hershenson', 163.44, 'Terrestrial Chair']]

In [46]:
df_final.dtypes

nome       object
gastos    float64
show       object
dtype: object