In [2]:
import pandas as pd

In [3]:
import pandas as pd
base = pd.read_csv('base.csv')

df = base.loc[ (base.SG_UF == 'DF')].reset_index(drop=True)

df = df.drop(['Unnamed: 0', 'DT_GERACAO', 'HH_GERACAO', 'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'TP_ABRANGENCIA', 'SG_UE', 'NM_UE', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_LOCAL_VOTACAO', 'NM_LOCAL_VOTACAO', 'DS_LOCAL_VOTACAO_ENDERECO'], axis=1)

turno1 = df.loc[ df.NR_TURNO == 1].reset_index(drop=True)
turno2 = df.loc[ df.NR_TURNO == 2].reset_index(drop=True)

regional_turno1 = turno1[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [4]:
pd.set_option('display.max_columns', 500)
base.head()

,Unnamed: 0,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,SG_UF,SG_UE,NM_UE,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,0,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,544,ELEIÇÃO GERAL FEDERAL 2022,02/10/2022,F,MS,BR,BRASIL,98116,SELVÍRIA,9,157,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,138,1015,280001607829,CENTRO ADMINISTRATIVO FABIANO MELO (ANTIGA FAC...,"AV. GOIÁS, 556"
1,1,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,544,ELEIÇÃO GERAL FEDERAL 2022,02/10/2022,F,RS,BR,BRASIL,87912,PELOTAS,60,500,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,173,2526,280001607829,UNIÃO GAÚCHA J. SIMÕES LOPES NETO,"AV. ENGENHEIRO ILDEFONSO SIMÕES LOPES, 531"
2,2,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,544,ELEIÇÃO GERAL FEDERAL 2022,02/10/2022,F,MG,BR,BRASIL,41238,BELO HORIZONTE,35,221,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,129,1180,280001607829,UTRAMIG,"AVENIDA AFONSO PENA, 3400"
3,3,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,544,ELEIÇÃO GERAL FEDERAL 2022,02/10/2022,F,MG,BR,BRASIL,50474,POTÉ,270,92,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,138,1023,280001607829,ESCOLA ESTADUAL GUIMARAES ROSA,"RUA ELIEZER PENA, 177"
4,4,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,544,ELEIÇÃO GERAL FEDERAL 2022,02/10/2022,F,RJ,BR,BRASIL,59013,SÃO JOÃO DE MERITI,187,300,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,141,1139,280001607829,COLÉGIO ESTADUAL RUBENS FARRULA,"AV. PLACIDO FIGUEIREDO JUNIOR, S/N"

In [5]:
base.shape

(5380736, 27)

In [6]:
df = base.loc[ (base.SG_UF == 'DF')].reset_index(drop=True)

df = df.drop(['Unnamed: 0', 'DT_GERACAO', 'HH_GERACAO', 'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'TP_ABRANGENCIA', 'SG_UE', 'NM_UE', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_LOCAL_VOTACAO', 'NM_LOCAL_VOTACAO', 'DS_LOCAL_VOTACAO_ENDERECO'], axis=1)

turno1 = df.loc[ df.NR_TURNO == 1].reset_index(drop=True)
turno2 = df.loc[ df.NR_TURNO == 2].reset_index(drop=True)

regional_turno1 = turno1[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [7]:
df = df.drop(['Unnamed: 0', 'DT_GERACAO', 'HH_GERACAO', 'NM_TIPO_ELEICAO', 'CD_ELEICAO', 'DS_ELEICAO', 'DT_ELEICAO', 'TP_ABRANGENCIA', 'SG_UE', 'NM_UE', 'CD_MUNICIPIO', 'NM_MUNICIPIO', 'NR_LOCAL_VOTACAO', 'NM_LOCAL_VOTACAO', 'DS_LOCAL_VOTACAO_ENDERECO'], axis=1)

turno1 = df.loc[ df.NR_TURNO == 1].reset_index(drop=True)
turno2 = df.loc[ df.NR_TURNO == 2].reset_index(drop=True)

regional_turno1 = turno1[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [8]:
turno1 = df.loc[ df.NR_TURNO == 1].reset_index(drop=True)
turno2 = df.loc[ df.NR_TURNO == 2].reset_index(drop=True)

regional_turno1 = turno1[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [9]:
turno1.NM_VOTAVEL.unique()

array(['LUIZ INÁCIO LULA DA SILVA', 'JOSE MARIA EYMAEL',
       'KELMON LUIS DA SILVA SOUZA', 'LUIZ FELIPE CHAVES D AVILA',
       'VOTO BRANCO', 'SORAYA VIEIRA THRONICKE', 'CIRO FERREIRA GOMES',
       'SOFIA PADUA MANZANO', 'JAIR MESSIAS BOLSONARO',
       'SIMONE NASSAR TEBET', 'LEONARDO PÉRICLES VIEIRA ROQUE',
       'VOTO NULO', 'VERA LUCIA PEREIRA DA SILVA SALGADO'], dtype=object)

In [10]:
turno1[['NR_ZONA', 'QT_VOTOS']].groupby(['NR_ZONA']).sum()

         QT_VOTOS
NR_ZONA
1           63150
2           91541
3           59717
4           82978
5          107202
6          110662
8          111346
9          109334
10          99635
11          63492
13         113818
14          89446
15         135474
16         123550
17         105216
18         105153
19          89336
20          65491
21          93359

In [11]:
regional_turno1 = turno1[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [12]:
regional_turno1.to_csv('turno1.csv')

In [13]:
display(regional_turno1.loc[ (regional_turno1.NM_VOTAVEL == 'JAIR MESSIAS BOLSONARO') | (regional_turno1.NM_VOTAVEL == 'LUIZ INÁCIO LULA DA SILVA') | ( regional_turno1.NM_VOTAVEL ==  'SIMONE NASSAR TEBET')].reset_index(drop=True))

    NR_ZONA                 NM_VOTAVEL  QT_VOTOS
0        21     JAIR MESSIAS BOLSONARO     48310
1        21  LUIZ INÁCIO LULA DA SILVA     31408
2        21        SIMONE NASSAR TEBET      5209
3        20     JAIR MESSIAS BOLSONARO     33496
4        20  LUIZ INÁCIO LULA DA SILVA     22679
5        20        SIMONE NASSAR TEBET      3379
6        19     JAIR MESSIAS BOLSONARO     48838
7        19  LUIZ INÁCIO LULA DA SILVA     28649
8        19        SIMONE NASSAR TEBET      4753
9        18     JAIR MESSIAS BOLSONARO     49688
10       18  LUIZ INÁCIO LULA DA SILVA     40231
11       18        SIMONE NASSAR TEBET      6622
12       17     JAIR MESSIAS BOLSONARO     52849
13       17  LUIZ INÁCIO LULA DA SILVA     38403
14       17        SIMONE NASSAR TEBET      5224
15       16     JAIR MESSIAS BOLSONARO     63969
16       16  LUIZ INÁCIO LULA DA SILVA     42147
17       16        SIMONE NASSAR TEBET      6529
18       15     JAIR MESSIAS BOLSONARO     68833
19       15  LUIZ INÁCIO LULA DA SILVA     46766
20       15        SIMONE NASSAR TEBET      8273
21       14  LUIZ INÁCIO LULA DA SILVA     38685
22       14     JAIR MESSIAS BOLSONARO     37288
23       14        SIMONE NASSAR TEBET      6331
24       13     JAIR MESSIAS BOLSONARO     61493
25       13  LUIZ INÁCIO LULA DA SILVA     36024
26       13        SIMONE NASSAR TEBET      6151
27       11     JAIR MESSIAS BOLSONARO     30280
28       11  LUIZ INÁCIO LULA DA SILVA     22980
29       11        SIMONE NASSAR TEBET      4819
30       10     JAIR MESSIAS BOLSONARO     53169
31       10  LUIZ INÁCIO LULA DA SILVA     32743
32       10        SIMONE NASSAR TEBET      5513
33        9     JAIR MESSIAS BOLSONARO     53817
34        9  LUIZ INÁCIO LULA DA SILVA     39437
35        9        SIMONE NASSAR TEBET      6767
36        8     JAIR MESSIAS BOLSONARO     56290
37        8  LUIZ INÁCIO LULA DA SILVA     39668
38        8        SIMONE NASSAR TEBET      5707
39        6     JAIR MESSIAS BOLSONARO     53659
40        6  LUIZ INÁCIO LULA DA SILVA     42395
41        6        SIMONE NASSAR TEBET      5663
42        5     JAIR MESSIAS BOLSONARO     53331
43        5  LUIZ INÁCIO LULA DA SILVA     38691
44        5        SIMONE NASSAR TEBET      6234
45        4     JAIR MESSIAS BOLSONARO     42016
46        4  LUIZ INÁCIO LULA DA SILVA     29176
47        4        SIMONE NASSAR TEBET      4259
48        3     JAIR MESSIAS BOLSONARO     31509
49        3  LUIZ INÁCIO LULA DA SILVA     19602
50        3        SIMONE NASSAR TEBET      3392
51        2     JAIR MESSIAS BOLSONARO     43272
52        2  LUIZ INÁCIO LULA DA SILVA     35043
53        2        SIMONE NASSAR TEBET      5626
54        1     JAIR MESSIAS BOLSONARO     28290
55        1  LUIZ INÁCIO LULA DA SILVA     24807
56        1        SIMONE NASSAR TEBET      4926

In [14]:
turno1.head(1)

,ANO_ELEICAO,CD_TIPO_ELEICAO,NR_TURNO,SG_UF,NR_ZONA,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,SQ_CANDIDATO
0,2022,2,1,DF,8,689,1,PRESIDENTE,13,LUIZ INÁCIO LULA DA SILVA,108,280001607829

In [15]:
desempenho_turno1 = turno1[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [16]:
desempenho_turno1.head()

                  NM_VOTAVEL  QT_VOTOS
0     JAIR MESSIAS BOLSONARO    910397
1  LUIZ INÁCIO LULA DA SILVA    649534
2        SIMONE NASSAR TEBET    105377
3        CIRO FERREIRA GOMES     74308
4                  VOTO NULO     32163

In [17]:
desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [18]:
desempenho_turno1.head(30)

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,910397,50.024562,910397,50.024562
1,LUIZ INÁCIO LULA DA SILVA,649534,35.690642,1559931,85.715204
2,SIMONE NASSAR TEBET,105377,5.790263,1665308,91.505467
3,CIRO FERREIRA GOMES,74308,4.083081,1739616,95.588549
4,VOTO NULO,32163,1.767295,1771779,97.355844
5,VOTO BRANCO,25162,1.382603,1796941,98.738447
6,LUIZ FELIPE CHAVES D AVILA,10342,0.568273,1807283,99.306720
7,SORAYA VIEIRA THRONICKE,7935,0.436013,1815218,99.742733
8,KELMON LUIS DA SILVA SOUZA,1554,0.085389,1816772,99.828122
9,LEONARDO PÉRICLES VIEIRA ROQUE,1262,0.069344,1818034,99.897467
10,SOFIA PADUA MANZANO,894,0.049124,1818928,99.946590
11,JOSE MARIA EYMAEL,518,0.028463,1819446,99.975054
12,VERA LUCIA PEREIRA DA SILVA SALGADO,454,0.024946,1819900,100.000000

In [19]:
desempenho_turno1['Porcentagem do Total'] = desempenho_turno1.QT_VOTOS / (desempenho_turno1.QT_VOTOS.sum()) * 100
desempenho_turno1['Soma Acumuluda'] = desempenho_turno1.QT_VOTOS.cumsum()
desempenho_turno1['Portentagem Acumuluda'] = desempenho_turno1['Porcentagem do Total'].cumsum()

In [20]:
desempenho_turno2 = turno2[['QT_VOTOS', 'NM_VOTAVEL' ]].groupby(['NM_VOTAVEL']).sum().sort_values('QT_VOTOS',ascending=False).reset_index()

In [21]:
desempenho_turno2['Porcentagem do Total'] = desempenho_turno2.QT_VOTOS / (desempenho_turno2.QT_VOTOS.sum()) * 100
desempenho_turno2['Soma Acumuluda'] = desempenho_turno2.QT_VOTOS.cumsum()
desempenho_turno2['Portentagem Acumuluda'] = desempenho_turno2['Porcentagem do Total'].cumsum()
desempenho_turno2.head(30)

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,1041331,56.640497,1041331,56.640497
1,LUIZ INÁCIO LULA DA SILVA,729295,39.668108,1770626,96.308605
2,VOTO NULO,38203,2.077953,1808829,98.386558
3,VOTO BRANCO,29663,1.613442,1838492,100.000000

In [22]:
regional_turno2 = turno2[['NR_ZONA', 'NM_VOTAVEL', 'QT_VOTOS']].groupby(['NR_ZONA', 'NM_VOTAVEL']).sum().sort_values(['NR_ZONA', 'QT_VOTOS'],ascending=False).reset_index()

In [23]:
turno1_zona1 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona1['Porcentagem do Total'] = turno1_zona1.QT_VOTOS / (turno1_zona1.QT_VOTOS.sum()) * 100
turno1_zona1['Soma Acumuluda'] = turno1_zona1.QT_VOTOS.cumsum()
turno1_zona1['Portentagem Acumuluda'] = turno1_zona1['Porcentagem do Total'].cumsum()
display(turno1_zona1.head(13))

turno1_zona2 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 2].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona2['Porcentagem do Total'] = turno1_zona2.QT_VOTOS / (turno1_zona2.QT_VOTOS.sum()) * 100
turno1_zona2['Soma Acumuluda'] = turno1_zona2.QT_VOTOS.cumsum()
turno1_zona2['Portentagem Acumuluda'] = turno1_zona2['Porcentagem do Total'].cumsum()
display(turno1_zona2.head(13)
        )
turno1_zona3 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 3].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona3['Porcentagem do Total'] = turno1_zona3.QT_VOTOS / (turno1_zona3.QT_VOTOS.sum()) * 100
turno1_zona3['Soma Acumuluda'] = turno1_zona3.QT_VOTOS.cumsum()
turno1_zona3['Portentagem Acumuluda'] = turno1_zona3['Porcentagem do Total'].cumsum()
display(turno1_zona3.head(13))

turno1_zona4 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 4].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona4['Porcentagem do Total'] = turno1_zona4.QT_VOTOS / (turno1_zona4.QT_VOTOS.sum()) * 100
turno1_zona4['Soma Acumuluda'] = turno1_zona4.QT_VOTOS.cumsum()
turno1_zona4['Portentagem Acumuluda'] = turno1_zona4['Porcentagem do Total'].cumsum()
display(turno1_zona4.head(13))

turno1_zona5 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 5].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona5['Porcentagem do Total'] = turno1_zona5.QT_VOTOS / (turno1_zona5.QT_VOTOS.sum()) * 100
turno1_zona5['Soma Acumuluda'] = turno1_zona5.QT_VOTOS.cumsum()
turno1_zona5['Portentagem Acumuluda'] = turno1_zona5['Porcentagem do Total'].cumsum()
display(turno1_zona5.head(13))

turno1_zona6 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 6].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona6['Porcentagem do Total'] = turno1_zona6.QT_VOTOS / (turno1_zona6.QT_VOTOS.sum()) * 100
turno1_zona6['Soma Acumuluda'] = turno1_zona6.QT_VOTOS.cumsum()
turno1_zona6['Portentagem Acumuluda'] = turno1_zona6['Porcentagem do Total'].cumsum()
display(turno1_zona6.head(13))

turno1_zona8 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 8].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona8['Porcentagem do Total'] = turno1_zona8.QT_VOTOS / (turno1_zona8.QT_VOTOS.sum()) * 100
turno1_zona8['Soma Acumuluda'] = turno1_zona8.QT_VOTOS.cumsum()
turno1_zona8['Portentagem Acumuluda'] = turno1_zona8['Porcentagem do Total'].cumsum()
display(turno1_zona8.head(13))

turno1_zona9 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 9].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona9['Porcentagem do Total'] = turno1_zona9.QT_VOTOS / (turno1_zona9.QT_VOTOS.sum()) * 100
turno1_zona9['Soma Acumuluda'] = turno1_zona9.QT_VOTOS.cumsum()
turno1_zona9['Portentagem Acumuluda'] = turno1_zona9['Porcentagem do Total'].cumsum()
display(turno1_zona9.head(13))

turno1_zona10 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 10].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona10['Porcentagem do Total'] = turno1_zona10.QT_VOTOS / (turno1_zona10.QT_VOTOS.sum()) * 100
turno1_zona10['Soma Acumuluda'] = turno1_zona10.QT_VOTOS.cumsum()
turno1_zona10['Portentagem Acumuluda'] = turno1_zona10['Porcentagem do Total'].cumsum()
display(turno1_zona10.head(13))

turno1_zona11 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 11].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona11['Porcentagem do Total'] = turno1_zona11.QT_VOTOS / (turno1_zona11.QT_VOTOS.sum()) * 100
turno1_zona11['Soma Acumuluda'] = turno1_zona11.QT_VOTOS.cumsum()
turno1_zona11['Portentagem Acumuluda'] = turno1_zona11['Porcentagem do Total'].cumsum()
display(turno1_zona11.head(13))

# turno1_zona12 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

# turno1_zona12['Porcentagem do Total'] = turno1_zona12.QT_VOTOS / (turno1_zona12.QT_VOTOS.sum()) * 100
# turno1_zona12['Soma Acumuluda'] = turno1_zona12.QT_VOTOS.cumsum()
# turno1_zona12['Portentagem Acumuluda'] = turno1_zona12['Porcentagem do Total'].cumsum()
# display(turno1_zona12.head(13))

turno1_zona13 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 13].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona13['Porcentagem do Total'] = turno1_zona13.QT_VOTOS / (turno1_zona13.QT_VOTOS.sum()) * 100
turno1_zona13['Soma Acumuluda'] = turno1_zona13.QT_VOTOS.cumsum()
turno1_zona13['Portentagem Acumuluda'] = turno1_zona13['Porcentagem do Total'].cumsum()
display(turno1_zona13.head(13))

turno1_zona14 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 14].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona14['Porcentagem do Total'] = turno1_zona14.QT_VOTOS / (turno1_zona14.QT_VOTOS.sum()) * 100
turno1_zona14['Soma Acumuluda'] = turno1_zona14.QT_VOTOS.cumsum()
turno1_zona14['Portentagem Acumuluda'] = turno1_zona14['Porcentagem do Total'].cumsum()
display(turno1_zona14.head(13))

turno1_zona15 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 15].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona15['Porcentagem do Total'] = turno1_zona15.QT_VOTOS / (turno1_zona15.QT_VOTOS.sum()) * 100
turno1_zona15['Soma Acumuluda'] = turno1_zona15.QT_VOTOS.cumsum()
turno1_zona15['Portentagem Acumuluda'] = turno1_zona15['Porcentagem do Total'].cumsum()
display(turno1_zona15.head(13))

turno1_zona16 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 16].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona16['Porcentagem do Total'] = turno1_zona16.QT_VOTOS / (turno1_zona16.QT_VOTOS.sum()) * 100
turno1_zona16['Soma Acumuluda'] = turno1_zona16.QT_VOTOS.cumsum()
turno1_zona16['Portentagem Acumuluda'] = turno1_zona16['Porcentagem do Total'].cumsum()
display(turno1_zona16.head(13))

turno1_zona17 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 17].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona17['Porcentagem do Total'] = turno1_zona17.QT_VOTOS / (turno1_zona17.QT_VOTOS.sum()) * 100
turno1_zona17['Soma Acumuluda'] = turno1_zona17.QT_VOTOS.cumsum()
turno1_zona17['Portentagem Acumuluda'] = turno1_zona17['Porcentagem do Total'].cumsum()
display(turno1_zona17.head(13))

turno1_zona18 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 18].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona18['Porcentagem do Total'] = turno1_zona18.QT_VOTOS / (turno1_zona18.QT_VOTOS.sum()) * 100
turno1_zona18['Soma Acumuluda'] = turno1_zona18.QT_VOTOS.cumsum()
turno1_zona18['Portentagem Acumuluda'] = turno1_zona18['Porcentagem do Total'].cumsum()
display(turno1_zona18.head(13))

turno1_zona19 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 19].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona19['Porcentagem do Total'] = turno1_zona19.QT_VOTOS / (turno1_zona19.QT_VOTOS.sum()) * 100
turno1_zona19['Soma Acumuluda'] = turno1_zona19.QT_VOTOS.cumsum()
turno1_zona19['Portentagem Acumuluda'] = turno1_zona19['Porcentagem do Total'].cumsum()
display(turno1_zona19.head(13))

turno1_zona20 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 20].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona20['Porcentagem do Total'] = turno1_zona20.QT_VOTOS / (turno1_zona20.QT_VOTOS.sum()) * 100
turno1_zona20['Soma Acumuluda'] = turno1_zona20.QT_VOTOS.cumsum()
turno1_zona20['Portentagem Acumuluda'] = turno1_zona20['Porcentagem do Total'].cumsum()
display(turno1_zona20.head(13))

turno1_zona21 = turno1[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno1.NR_ZONA == 21].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()

turno1_zona21['Porcentagem do Total'] = turno1_zona21.QT_VOTOS / (turno1_zona21.QT_VOTOS.sum()) * 100
turno1_zona21['Soma Acumuluda'] = turno1_zona21.QT_VOTOS.cumsum()
turno1_zona21['Portentagem Acumuluda'] = turno1_zona21['Porcentagem do Total'].cumsum()
display(turno1_zona21.head(13))

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,28290,44.798100,28290,44.798100
1,LUIZ INÁCIO LULA DA SILVA,24807,39.282660,53097,84.080760
2,SIMONE NASSAR TEBET,4926,7.800475,58023,91.881235
3,CIRO FERREIRA GOMES,2734,4.329375,60757,96.210610
4,VOTO NULO,793,1.255740,61550,97.466350
5,LUIZ FELIPE CHAVES D AVILA,679,1.075218,62229,98.541568
6,VOTO BRANCO,574,0.908947,62803,99.450515
7,SORAYA VIEIRA THRONICKE,141,0.223278,62944,99.673793
8,KELMON LUIS DA SILVA SOUZA,68,0.107680,63012,99.781473
9,SOFIA PADUA MANZANO,44,0.069675,63056,99.851148
10,LEONARDO PÉRICLES VIEIRA ROQUE,41,0.064925,63097,99.916073
11,JOSE MARIA EYMAEL,30,0.047506,63127,99.963579
12,VERA LUCIA PEREIRA DA SILVA SALGADO,23,0.036421,63150,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,43272,47.270622,43272,47.270622
1,LUIZ INÁCIO LULA DA SILVA,35043,38.281207,78315,85.551829
2,SIMONE NASSAR TEBET,5626,6.145880,83941,91.697709
3,CIRO FERREIRA GOMES,3684,4.024426,87625,95.722135
4,VOTO NULO,1500,1.638610,89125,97.360745
5,VOTO BRANCO,1259,1.375340,90384,98.736085
6,LUIZ FELIPE CHAVES D AVILA,486,0.530910,90870,99.266995
7,SORAYA VIEIRA THRONICKE,418,0.456626,91288,99.723621
8,KELMON LUIS DA SILVA SOUZA,76,0.083023,91364,99.806644
9,LEONARDO PÉRICLES VIEIRA ROQUE,71,0.077561,91435,99.884205
10,SOFIA PADUA MANZANO,55,0.060082,91490,99.944287
11,VERA LUCIA PEREIRA DA SILVA SALGADO,28,0.030587,91518,99.974875
12,JOSE MARIA EYMAEL,23,0.025125,91541,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,31509,52.763870,31509,52.763870
1,LUIZ INÁCIO LULA DA SILVA,19602,32.824824,51111,85.588693
2,SIMONE NASSAR TEBET,3392,5.680125,54503,91.268818
3,CIRO FERREIRA GOMES,2402,4.022305,56905,95.291123
4,VOTO NULO,1211,2.027898,58116,97.319021
5,VOTO BRANCO,888,1.487014,59004,98.806035
6,LUIZ FELIPE CHAVES D AVILA,294,0.492322,59298,99.298357
7,SORAYA VIEIRA THRONICKE,264,0.442085,59562,99.740442
8,KELMON LUIS DA SILVA SOUZA,61,0.102148,59623,99.842591
9,LEONARDO PÉRICLES VIEIRA ROQUE,30,0.050237,59653,99.892828
10,SOFIA PADUA MANZANO,29,0.048562,59682,99.941390
11,JOSE MARIA EYMAEL,24,0.040190,59706,99.981580
12,VERA LUCIA PEREIRA DA SILVA SALGADO,11,0.018420,59717,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,42016,50.635108,42016,50.635108
1,LUIZ INÁCIO LULA DA SILVA,29176,35.161127,71192,85.796235
2,SIMONE NASSAR TEBET,4259,5.132686,75451,90.928921
3,CIRO FERREIRA GOMES,3455,4.163754,78906,95.092675
4,VOTO NULO,1660,2.000530,80566,97.093205
5,VOTO BRANCO,1410,1.699246,81976,98.792451
6,SORAYA VIEIRA THRONICKE,508,0.612210,82484,99.404661
7,LUIZ FELIPE CHAVES D AVILA,288,0.347080,82772,99.751741
8,KELMON LUIS DA SILVA SOUZA,73,0.087975,82845,99.839717
9,LEONARDO PÉRICLES VIEIRA ROQUE,60,0.072308,82905,99.912025
10,SOFIA PADUA MANZANO,34,0.040975,82939,99.953000
11,JOSE MARIA EYMAEL,22,0.026513,82961,99.979513
12,VERA LUCIA PEREIRA DA SILVA SALGADO,17,0.020487,82978,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,53331,49.748139,53331,49.748139
1,LUIZ INÁCIO LULA DA SILVA,38691,36.091677,92022,85.839816
2,SIMONE NASSAR TEBET,6234,5.815190,98256,91.655006
3,CIRO FERREIRA GOMES,4278,3.990597,102534,95.645604
4,VOTO NULO,1907,1.778885,104441,97.424488
5,VOTO BRANCO,1429,1.332998,105870,98.757486
6,LUIZ FELIPE CHAVES D AVILA,536,0.499991,106406,99.257477
7,SORAYA VIEIRA THRONICKE,507,0.472939,106913,99.730415
8,KELMON LUIS DA SILVA SOUZA,93,0.086752,107006,99.817168
9,LEONARDO PÉRICLES VIEIRA ROQUE,90,0.083954,107096,99.901121
10,SOFIA PADUA MANZANO,55,0.051305,107151,99.952426
11,VERA LUCIA PEREIRA DA SILVA SALGADO,26,0.024253,107177,99.976680
12,JOSE MARIA EYMAEL,25,0.023320,107202,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,53659,48.489093,53659,48.489093
1,LUIZ INÁCIO LULA DA SILVA,42395,38.310350,96054,86.799443
2,SIMONE NASSAR TEBET,5663,5.117384,101717,91.916828
3,CIRO FERREIRA GOMES,3994,3.609188,105711,95.526016
4,VOTO NULO,2065,1.866043,107776,97.392059
5,VOTO BRANCO,1732,1.565126,109508,98.957185
6,SORAYA VIEIRA THRONICKE,554,0.500624,110062,99.457808
7,LUIZ FELIPE CHAVES D AVILA,347,0.313567,110409,99.771376
8,KELMON LUIS DA SILVA SOUZA,101,0.091269,110510,99.862645
9,LEONARDO PÉRICLES VIEIRA ROQUE,70,0.063256,110580,99.925900
10,SOFIA PADUA MANZANO,37,0.033435,110617,99.959336
11,JOSE MARIA EYMAEL,26,0.023495,110643,99.982831
12,VERA LUCIA PEREIRA DA SILVA SALGADO,19,0.017169,110662,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,56290,50.554129,56290,50.554129
1,LUIZ INÁCIO LULA DA SILVA,39668,35.625887,95958,86.180015
2,SIMONE NASSAR TEBET,5707,5.125465,101665,91.305480
3,CIRO FERREIRA GOMES,4399,3.950748,106064,95.256228
4,VOTO NULO,2295,2.061143,108359,97.317371
5,VOTO BRANCO,1771,1.590538,110130,98.907909
6,SORAYA VIEIRA THRONICKE,554,0.497548,110684,99.405457
7,LUIZ FELIPE CHAVES D AVILA,394,0.353852,111078,99.759309
8,KELMON LUIS DA SILVA SOUZA,95,0.085320,111173,99.844628
9,LEONARDO PÉRICLES VIEIRA ROQUE,81,0.072746,111254,99.917375
10,SOFIA PADUA MANZANO,38,0.034128,111292,99.951503
11,JOSE MARIA EYMAEL,28,0.025147,111320,99.976649
12,VERA LUCIA PEREIRA DA SILVA SALGADO,26,0.023351,111346,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,53817,49.222566,53817,49.222566
1,LUIZ INÁCIO LULA DA SILVA,39437,36.070207,93254,85.292773
2,SIMONE NASSAR TEBET,6767,6.189292,100021,91.482064
3,CIRO FERREIRA GOMES,4594,4.201804,104615,95.683868
4,VOTO NULO,1913,1.749684,106528,97.433552
5,VOTO BRANCO,1318,1.205480,107846,98.639033
6,LUIZ FELIPE CHAVES D AVILA,756,0.691459,108602,99.330492
7,SORAYA VIEIRA THRONICKE,419,0.383229,109021,99.713721
8,KELMON LUIS DA SILVA SOUZA,95,0.086890,109116,99.800611
9,SOFIA PADUA MANZANO,77,0.070426,109193,99.871037
10,LEONARDO PÉRICLES VIEIRA ROQUE,73,0.066768,109266,99.937805
11,JOSE MARIA EYMAEL,34,0.031097,109300,99.968903
12,VERA LUCIA PEREIRA DA SILVA SALGADO,34,0.031097,109334,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,53169,53.363778,53169,53.363778
1,LUIZ INÁCIO LULA DA SILVA,32743,32.862950,85912,86.226728
2,SIMONE NASSAR TEBET,5513,5.533196,91425,91.759924
3,CIRO FERREIRA GOMES,3950,3.964470,95375,95.724394
4,VOTO NULO,1749,1.755407,97124,97.479801
5,VOTO BRANCO,1322,1.326843,98446,98.806644
6,LUIZ FELIPE CHAVES D AVILA,566,0.568073,99012,99.374718
7,SORAYA VIEIRA THRONICKE,377,0.378381,99389,99.753099
8,LEONARDO PÉRICLES VIEIRA ROQUE,75,0.075275,99464,99.828374
9,KELMON LUIS DA SILVA SOUZA,73,0.073267,99537,99.901641
10,SOFIA PADUA MANZANO,37,0.037136,99574,99.938777
11,JOSE MARIA EYMAEL,34,0.034125,99608,99.972901
12,VERA LUCIA PEREIRA DA SILVA SALGADO,27,0.027099,99635,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,30280,47.691048,30280,47.691048
1,LUIZ INÁCIO LULA DA SILVA,22980,36.193536,53260,83.884584
2,SIMONE NASSAR TEBET,4819,7.589933,58079,91.474516
3,CIRO FERREIRA GOMES,2925,4.606880,61004,96.081396
4,VOTO NULO,788,1.241101,61792,97.322497
5,VOTO BRANCO,687,1.082026,62479,98.404523
6,LUIZ FELIPE CHAVES D AVILA,664,1.045801,63143,99.450324
7,SORAYA VIEIRA THRONICKE,165,0.259875,63308,99.710200
8,KELMON LUIS DA SILVA SOUZA,55,0.086625,63363,99.796825
9,SOFIA PADUA MANZANO,41,0.064575,63404,99.861400
10,LEONARDO PÉRICLES VIEIRA ROQUE,40,0.063000,63444,99.924400
11,JOSE MARIA EYMAEL,24,0.037800,63468,99.962200
12,VERA LUCIA PEREIRA DA SILVA SALGADO,24,0.037800,63492,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,61493,54.027482,61493,54.027482
1,LUIZ INÁCIO LULA DA SILVA,36024,31.650530,97517,85.678012
2,SIMONE NASSAR TEBET,6151,5.404242,103668,91.082254
3,CIRO FERREIRA GOMES,4597,4.038904,108265,95.121158
4,VOTO NULO,2343,2.058550,110608,97.179708
5,VOTO BRANCO,1828,1.606073,112436,98.785781
6,SORAYA VIEIRA THRONICKE,649,0.570209,113085,99.355989
7,LUIZ FELIPE CHAVES D AVILA,477,0.419090,113562,99.775080
8,KELMON LUIS DA SILVA SOUZA,104,0.091374,113666,99.866453
9,LEONARDO PÉRICLES VIEIRA ROQUE,72,0.063259,113738,99.929712
10,SOFIA PADUA MANZANO,41,0.036022,113779,99.965735
11,VERA LUCIA PEREIRA DA SILVA SALGADO,22,0.019329,113801,99.985064
12,JOSE MARIA EYMAEL,17,0.014936,113818,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,LUIZ INÁCIO LULA DA SILVA,38685,43.249558,38685,43.249558
1,JAIR MESSIAS BOLSONARO,37288,41.687722,75973,84.937281
2,SIMONE NASSAR TEBET,6331,7.078014,82304,92.015294
3,CIRO FERREIRA GOMES,3913,4.374707,86217,96.390001
4,VOTO NULO,1027,1.148179,87244,97.538179
5,LUIZ FELIPE CHAVES D AVILA,926,1.035261,88170,98.573441
6,VOTO BRANCO,782,0.874271,88952,99.447711
7,SORAYA VIEIRA THRONICKE,213,0.238133,89165,99.685844
8,SOFIA PADUA MANZANO,85,0.095029,89250,99.780873
9,LEONARDO PÉRICLES VIEIRA ROQUE,65,0.072670,89315,99.853543
10,KELMON LUIS DA SILVA SOUZA,61,0.068198,89376,99.921740
11,JOSE MARIA EYMAEL,42,0.046956,89418,99.968696
12,VERA LUCIA PEREIRA DA SILVA SALGADO,28,0.031304,89446,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,68833,50.809011,68833,50.809011
1,LUIZ INÁCIO LULA DA SILVA,46766,34.520277,115599,85.329288
2,SIMONE NASSAR TEBET,8273,6.106707,123872,91.435995
3,CIRO FERREIRA GOMES,6193,4.571357,130065,96.007352
4,VOTO NULO,2026,1.495490,132091,97.502842
5,VOTO BRANCO,1515,1.118296,133606,98.621138
6,LUIZ FELIPE CHAVES D AVILA,1114,0.822298,134720,99.443436
7,SORAYA VIEIRA THRONICKE,388,0.286402,135108,99.729837
8,KELMON LUIS DA SILVA SOUZA,111,0.081935,135219,99.811772
9,LEONARDO PÉRICLES VIEIRA ROQUE,91,0.067172,135310,99.878944
10,SOFIA PADUA MANZANO,76,0.056099,135386,99.935043
11,JOSE MARIA EYMAEL,52,0.038384,135438,99.973427
12,VERA LUCIA PEREIRA DA SILVA SALGADO,36,0.026573,135474,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,63969,51.775799,63969,51.775799
1,LUIZ INÁCIO LULA DA SILVA,42147,34.113314,106116,85.889114
2,SIMONE NASSAR TEBET,6529,5.284500,112645,91.173614
3,CIRO FERREIRA GOMES,4792,3.878592,117437,95.052206
4,VOTO NULO,2544,2.059085,119981,97.111291
5,VOTO BRANCO,2160,1.748280,122141,98.859571
6,SORAYA VIEIRA THRONICKE,699,0.565763,122840,99.425334
7,LUIZ FELIPE CHAVES D AVILA,418,0.338325,123258,99.763658
8,KELMON LUIS DA SILVA SOUZA,114,0.092270,123372,99.855929
9,LEONARDO PÉRICLES VIEIRA ROQUE,77,0.062323,123449,99.918252
10,SOFIA PADUA MANZANO,48,0.038851,123497,99.957102
11,VERA LUCIA PEREIRA DA SILVA SALGADO,30,0.024282,123527,99.981384
12,JOSE MARIA EYMAEL,23,0.018616,123550,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,52849,50.229053,52849,50.229053
1,LUIZ INÁCIO LULA DA SILVA,38403,36.499202,91252,86.728254
2,SIMONE NASSAR TEBET,5224,4.965024,96476,91.693279
3,CIRO FERREIRA GOMES,3981,3.783645,100457,95.476924
4,VOTO NULO,2034,1.933166,102491,97.410090
5,VOTO BRANCO,1477,1.403779,103968,98.813869
6,SORAYA VIEIRA THRONICKE,530,0.503726,104498,99.317594
7,LUIZ FELIPE CHAVES D AVILA,479,0.455254,104977,99.772848
8,KELMON LUIS DA SILVA SOUZA,81,0.076984,105058,99.849833
9,LEONARDO PÉRICLES VIEIRA ROQUE,70,0.066530,105128,99.916363
10,SOFIA PADUA MANZANO,39,0.037067,105167,99.953429
11,JOSE MARIA EYMAEL,30,0.028513,105197,99.981942
12,VERA LUCIA PEREIRA DA SILVA SALGADO,19,0.018058,105216,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,49688,47.253050,49688,47.253050
1,LUIZ INÁCIO LULA DA SILVA,40231,38.259489,89919,85.512539
2,SIMONE NASSAR TEBET,6622,6.297490,96541,91.810029
3,CIRO FERREIRA GOMES,4346,4.133025,100887,95.943054
4,VOTO NULO,1616,1.536808,102503,97.479863
5,VOTO BRANCO,1327,1.261971,103830,98.741833
6,LUIZ FELIPE CHAVES D AVILA,710,0.675207,104540,99.417040
7,SORAYA VIEIRA THRONICKE,365,0.347113,104905,99.764153
8,KELMON LUIS DA SILVA SOUZA,85,0.080835,104990,99.844988
9,LEONARDO PÉRICLES VIEIRA ROQUE,62,0.058962,105052,99.903949
10,SOFIA PADUA MANZANO,57,0.054207,105109,99.958156
11,VERA LUCIA PEREIRA DA SILVA SALGADO,25,0.023775,105134,99.981931
12,JOSE MARIA EYMAEL,19,0.018069,105153,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,48838,54.667771,48838,54.667771
1,LUIZ INÁCIO LULA DA SILVA,28649,32.068819,77487,86.736590
2,SIMONE NASSAR TEBET,4753,5.320364,82240,92.056954
3,CIRO FERREIRA GOMES,3620,4.052118,85860,96.109071
4,VOTO NULO,1336,1.495478,87196,97.604549
5,VOTO BRANCO,1017,1.138399,88213,98.742948
6,LUIZ FELIPE CHAVES D AVILA,590,0.660428,88803,99.403376
7,SORAYA VIEIRA THRONICKE,306,0.342527,89109,99.745903
8,LEONARDO PÉRICLES VIEIRA ROQUE,79,0.088430,89188,99.834333
9,KELMON LUIS DA SILVA SOUZA,60,0.067162,89248,99.901495
10,SOFIA PADUA MANZANO,49,0.054849,89297,99.956345
11,JOSE MARIA EYMAEL,27,0.030223,89324,99.986568
12,VERA LUCIA PEREIRA DA SILVA SALGADO,12,0.013432,89336,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,33496,51.145959,33496,51.145959
1,LUIZ INÁCIO LULA DA SILVA,22679,34.629186,56175,85.775145
2,SIMONE NASSAR TEBET,3379,5.159488,59554,90.934632
3,CIRO FERREIRA GOMES,2648,4.043304,62202,94.977936
4,VOTO NULO,1368,2.088837,63570,97.066773
5,VOTO BRANCO,1126,1.719320,64696,98.786093
6,SORAYA VIEIRA THRONICKE,340,0.519155,65036,99.305248
7,LUIZ FELIPE CHAVES D AVILA,275,0.419905,65311,99.725153
8,KELMON LUIS DA SILVA SOUZA,68,0.103831,65379,99.828984
9,LEONARDO PÉRICLES VIEIRA ROQUE,53,0.080927,65432,99.909911
10,SOFIA PADUA MANZANO,25,0.038173,65457,99.948084
11,JOSE MARIA EYMAEL,17,0.025958,65474,99.974042
12,VERA LUCIA PEREIRA DA SILVA SALGADO,17,0.025958,65491,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,48310,51.746484,48310,51.746484
1,LUIZ INÁCIO LULA DA SILVA,31408,33.642177,79718,85.388661
2,SIMONE NASSAR TEBET,5209,5.579537,84927,90.968198
3,CIRO FERREIRA GOMES,3803,4.073523,88730,95.041721
4,VOTO NULO,1988,2.129414,90718,97.171135
5,VOTO BRANCO,1540,1.649546,92258,98.820681
6,SORAYA VIEIRA THRONICKE,538,0.576270,92796,99.396952
7,LUIZ FELIPE CHAVES D AVILA,343,0.367399,93139,99.764351
8,KELMON LUIS DA SILVA SOUZA,80,0.085691,93219,99.850041
9,LEONARDO PÉRICLES VIEIRA ROQUE,62,0.066410,93281,99.916452
10,VERA LUCIA PEREIRA DA SILVA SALGADO,30,0.032134,93311,99.948586
11,SOFIA PADUA MANZANO,27,0.028921,93338,99.977506
12,JOSE MARIA EYMAEL,21,0.022494,93359,100.000000

In [24]:
turno1_zona14.head(13)

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,LUIZ INÁCIO LULA DA SILVA,38685,43.249558,38685,43.249558
1,JAIR MESSIAS BOLSONARO,37288,41.687722,75973,84.937281
2,SIMONE NASSAR TEBET,6331,7.078014,82304,92.015294
3,CIRO FERREIRA GOMES,3913,4.374707,86217,96.390001
4,VOTO NULO,1027,1.148179,87244,97.538179
5,LUIZ FELIPE CHAVES D AVILA,926,1.035261,88170,98.573441
6,VOTO BRANCO,782,0.874271,88952,99.447711
7,SORAYA VIEIRA THRONICKE,213,0.238133,89165,99.685844
8,SOFIA PADUA MANZANO,85,0.095029,89250,99.780873
9,LEONARDO PÉRICLES VIEIRA ROQUE,65,0.072670,89315,99.853543
10,KELMON LUIS DA SILVA SOUZA,61,0.068198,89376,99.921740
11,JOSE MARIA EYMAEL,42,0.046956,89418,99.968696
12,VERA LUCIA PEREIRA DA SILVA SALGADO,28,0.031304,89446,100.000000

In [25]:
turno1_zona8 # ceilandia

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,56290,50.554129,56290,50.554129
1,LUIZ INÁCIO LULA DA SILVA,39668,35.625887,95958,86.180015
2,SIMONE NASSAR TEBET,5707,5.125465,101665,91.305480
3,CIRO FERREIRA GOMES,4399,3.950748,106064,95.256228
4,VOTO NULO,2295,2.061143,108359,97.317371
5,VOTO BRANCO,1771,1.590538,110130,98.907909
6,SORAYA VIEIRA THRONICKE,554,0.497548,110684,99.405457
7,LUIZ FELIPE CHAVES D AVILA,394,0.353852,111078,99.759309
8,KELMON LUIS DA SILVA SOUZA,95,0.085320,111173,99.844628
9,LEONARDO PÉRICLES VIEIRA ROQUE,81,0.072746,111254,99.917375
10,SOFIA PADUA MANZANO,38,0.034128,111292,99.951503
11,JOSE MARIA EYMAEL,28,0.025147,111320,99.976649
12,VERA LUCIA PEREIRA DA SILVA SALGADO,26,0.023351,111346,100.000000

In [30]:
print('Ceilandia Norte') # ceilandia norte 
turno1_zona16

print('Samambaia')
turno1_zona13 # ceilandia

Ceilandia Norte

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,63969,51.775799,63969,51.775799
1,LUIZ INÁCIO LULA DA SILVA,42147,34.113314,106116,85.889114
2,SIMONE NASSAR TEBET,6529,5.284500,112645,91.173614
3,CIRO FERREIRA GOMES,4792,3.878592,117437,95.052206
4,VOTO NULO,2544,2.059085,119981,97.111291
5,VOTO BRANCO,2160,1.748280,122141,98.859571
6,SORAYA VIEIRA THRONICKE,699,0.565763,122840,99.425334
7,LUIZ FELIPE CHAVES D AVILA,418,0.338325,123258,99.763658
8,KELMON LUIS DA SILVA SOUZA,114,0.092270,123372,99.855929
9,LEONARDO PÉRICLES VIEIRA ROQUE,77,0.062323,123449,99.918252
10,SOFIA PADUA MANZANO,48,0.038851,123497,99.957102
11,VERA LUCIA PEREIRA DA SILVA SALGADO,30,0.024282,123527,99.981384
12,JOSE MARIA EYMAEL,23,0.018616,123550,100.000000

In [31]:
print('Samambaia')
turno1_zona13 # ceilandia

Samambaia

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,61493,54.027482,61493,54.027482
1,LUIZ INÁCIO LULA DA SILVA,36024,31.650530,97517,85.678012
2,SIMONE NASSAR TEBET,6151,5.404242,103668,91.082254
3,CIRO FERREIRA GOMES,4597,4.038904,108265,95.121158
4,VOTO NULO,2343,2.058550,110608,97.179708
5,VOTO BRANCO,1828,1.606073,112436,98.785781
6,SORAYA VIEIRA THRONICKE,649,0.570209,113085,99.355989
7,LUIZ FELIPE CHAVES D AVILA,477,0.419090,113562,99.775080
8,KELMON LUIS DA SILVA SOUZA,104,0.091374,113666,99.866453
9,LEONARDO PÉRICLES VIEIRA ROQUE,72,0.063259,113738,99.929712
10,SOFIA PADUA MANZANO,41,0.036022,113779,99.965735
11,VERA LUCIA PEREIRA DA SILVA SALGADO,22,0.019329,113801,99.985064
12,JOSE MARIA EYMAEL,17,0.014936,113818,100.000000

In [27]:
turno1_zona14

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,LUIZ INÁCIO LULA DA SILVA,38685,43.249558,38685,43.249558
1,JAIR MESSIAS BOLSONARO,37288,41.687722,75973,84.937281
2,SIMONE NASSAR TEBET,6331,7.078014,82304,92.015294
3,CIRO FERREIRA GOMES,3913,4.374707,86217,96.390001
4,VOTO NULO,1027,1.148179,87244,97.538179
5,LUIZ FELIPE CHAVES D AVILA,926,1.035261,88170,98.573441
6,VOTO BRANCO,782,0.874271,88952,99.447711
7,SORAYA VIEIRA THRONICKE,213,0.238133,89165,99.685844
8,SOFIA PADUA MANZANO,85,0.095029,89250,99.780873
9,LEONARDO PÉRICLES VIEIRA ROQUE,65,0.072670,89315,99.853543
10,KELMON LUIS DA SILVA SOUZA,61,0.068198,89376,99.921740
11,JOSE MARIA EYMAEL,42,0.046956,89418,99.968696
12,VERA LUCIA PEREIRA DA SILVA SALGADO,28,0.031304,89446,100.000000

In [28]:
print('Ceilandia Norte') # ceilandia norte 
turno1_zona16

print('Samambaia')
turno1_zona13 # ceilandia 

truno2_estatistica = turno2[['NM_VOTAVEL', 'QT_VOTOS']].groupby('NM_VOTAVEL').sum().reset_index()

truno2_estatistica['Porcentagem Acumulada'] = truno2_estatistica.QT_VOTOS / truno2_estatistica.QT_VOTOS.sum() * 100 
truno2_estatistica['Votos Acumulado'] = truno2_estatistica.QT_VOTOS.cumsum()
truno2_estatistica

                  NM_VOTAVEL  QT_VOTOS  Porcentagem Acumulada  Votos Acumulado
0     JAIR MESSIAS BOLSONARO   1041331              56.640497          1041331
1  LUIZ INÁCIO LULA DA SILVA    729295              39.668108          1770626
2                VOTO BRANCO     29663               1.613442          1800289
3                  VOTO NULO     38203               2.077953          1838492

In [29]:
turno2_zona1 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona1['Porcentagem do Total'] = turno2_zona1.QT_VOTOS / (turno2_zona1.QT_VOTOS.sum()) * 100
turno2_zona1['Soma Acumuluda'] = turno2_zona1.QT_VOTOS.cumsum()
turno2_zona1['Portentagem Acumuluda'] = turno2_zona1['Porcentagem do Total'].cumsum()
display(turno2_zona1.head(13))
 
turno2_zona2 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 2].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona2['Porcentagem do Total'] = turno2_zona2.QT_VOTOS / (turno2_zona2.QT_VOTOS.sum()) * 100
turno2_zona2['Soma Acumuluda'] = turno2_zona2.QT_VOTOS.cumsum()
turno2_zona2['Portentagem Acumuluda'] = turno2_zona2['Porcentagem do Total'].cumsum()
display(turno2_zona2.head(13)
        )
turno2_zona3 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 3].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona3['Porcentagem do Total'] = turno2_zona3.QT_VOTOS / (turno2_zona3.QT_VOTOS.sum()) * 100
turno2_zona3['Soma Acumuluda'] = turno2_zona3.QT_VOTOS.cumsum()
turno2_zona3['Portentagem Acumuluda'] = turno2_zona3['Porcentagem do Total'].cumsum()
display(turno2_zona3.head(13))
 
turno2_zona4 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 4].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona4['Porcentagem do Total'] = turno2_zona4.QT_VOTOS / (turno2_zona4.QT_VOTOS.sum()) * 100
turno2_zona4['Soma Acumuluda'] = turno2_zona4.QT_VOTOS.cumsum()
turno2_zona4['Portentagem Acumuluda'] = turno2_zona4['Porcentagem do Total'].cumsum()
display(turno2_zona4.head(13))
 
turno2_zona5 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 5].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona5['Porcentagem do Total'] = turno2_zona5.QT_VOTOS / (turno2_zona5.QT_VOTOS.sum()) * 100
turno2_zona5['Soma Acumuluda'] = turno2_zona5.QT_VOTOS.cumsum()
turno2_zona5['Portentagem Acumuluda'] = turno2_zona5['Porcentagem do Total'].cumsum()
display(turno2_zona5.head(13))
 
turno2_zona6 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 6].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona6['Porcentagem do Total'] = turno2_zona6.QT_VOTOS / (turno2_zona6.QT_VOTOS.sum()) * 100
turno2_zona6['Soma Acumuluda'] = turno2_zona6.QT_VOTOS.cumsum()
turno2_zona6['Portentagem Acumuluda'] = turno2_zona6['Porcentagem do Total'].cumsum()
display(turno2_zona6.head(13))
 
turno2_zona8 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 8].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona8['Porcentagem do Total'] = turno2_zona8.QT_VOTOS / (turno2_zona8.QT_VOTOS.sum()) * 100
turno2_zona8['Soma Acumuluda'] = turno2_zona8.QT_VOTOS.cumsum()
turno2_zona8['Portentagem Acumuluda'] = turno2_zona8['Porcentagem do Total'].cumsum()
display(turno2_zona8.head(13))
 
turno2_zona9 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 9].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona9['Porcentagem do Total'] = turno2_zona9.QT_VOTOS / (turno2_zona9.QT_VOTOS.sum()) * 100
turno2_zona9['Soma Acumuluda'] = turno2_zona9.QT_VOTOS.cumsum()
turno2_zona9['Portentagem Acumuluda'] = turno2_zona9['Porcentagem do Total'].cumsum()
display(turno2_zona9.head(13))
 
turno2_zona10 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 10].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona10['Porcentagem do Total'] = turno2_zona10.QT_VOTOS / (turno2_zona10.QT_VOTOS.sum()) * 100
turno2_zona10['Soma Acumuluda'] = turno2_zona10.QT_VOTOS.cumsum()
turno2_zona10['Portentagem Acumuluda'] = turno2_zona10['Porcentagem do Total'].cumsum()
display(turno2_zona10.head(13))
 
turno2_zona11 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 11].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona11['Porcentagem do Total'] = turno2_zona11.QT_VOTOS / (turno2_zona11.QT_VOTOS.sum()) * 100
turno2_zona11['Soma Acumuluda'] = turno2_zona11.QT_VOTOS.cumsum()
turno2_zona11['Portentagem Acumuluda'] = turno2_zona11['Porcentagem do Total'].cumsum()
display(turno2_zona11.head(13))
 
# turno2_zona12 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
# turno2_zona12['Porcentagem do Total'] = turno2_zona12.QT_VOTOS / (turno2_zona12.QT_VOTOS.sum()) * 100
# turno2_zona12['Soma Acumuluda'] = turno2_zona12.QT_VOTOS.cumsum()
# turno2_zona12['Portentagem Acumuluda'] = turno2_zona12['Porcentagem do Total'].cumsum()
# display(turno2_zona12.head(13))
 
turno2_zona13 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 13].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona13['Porcentagem do Total'] = turno2_zona13.QT_VOTOS / (turno2_zona13.QT_VOTOS.sum()) * 100
turno2_zona13['Soma Acumuluda'] = turno2_zona13.QT_VOTOS.cumsum()
turno2_zona13['Portentagem Acumuluda'] = turno2_zona13['Porcentagem do Total'].cumsum()
display(turno2_zona13.head(13))
 
turno2_zona14 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 14].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona14['Porcentagem do Total'] = turno2_zona14.QT_VOTOS / (turno2_zona14.QT_VOTOS.sum()) * 100
turno2_zona14['Soma Acumuluda'] = turno2_zona14.QT_VOTOS.cumsum()
turno2_zona14['Portentagem Acumuluda'] = turno2_zona14['Porcentagem do Total'].cumsum()
display(turno2_zona14.head(13))
 
turno2_zona15 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 15].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona15['Porcentagem do Total'] = turno2_zona15.QT_VOTOS / (turno2_zona15.QT_VOTOS.sum()) * 100
turno2_zona15['Soma Acumuluda'] = turno2_zona15.QT_VOTOS.cumsum()
turno2_zona15['Portentagem Acumuluda'] = turno2_zona15['Porcentagem do Total'].cumsum()
display(turno2_zona15.head(13))
 
turno2_zona16 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 16].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona16['Porcentagem do Total'] = turno2_zona16.QT_VOTOS / (turno2_zona16.QT_VOTOS.sum()) * 100
turno2_zona16['Soma Acumuluda'] = turno2_zona16.QT_VOTOS.cumsum()
turno2_zona16['Portentagem Acumuluda'] = turno2_zona16['Porcentagem do Total'].cumsum()
display(turno2_zona16.head(13))
 
turno2_zona17 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 17].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona17['Porcentagem do Total'] = turno2_zona17.QT_VOTOS / (turno2_zona17.QT_VOTOS.sum()) * 100
turno2_zona17['Soma Acumuluda'] = turno2_zona17.QT_VOTOS.cumsum()
turno2_zona17['Portentagem Acumuluda'] = turno2_zona17['Porcentagem do Total'].cumsum()
display(turno2_zona17.head(13))
 
turno2_zona18 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 18].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona18['Porcentagem do Total'] = turno2_zona18.QT_VOTOS / (turno2_zona18.QT_VOTOS.sum()) * 100
turno2_zona18['Soma Acumuluda'] = turno2_zona18.QT_VOTOS.cumsum()
turno2_zona18['Portentagem Acumuluda'] = turno2_zona18['Porcentagem do Total'].cumsum()
display(turno2_zona18.head(13))
 
turno2_zona19 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 19].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona19['Porcentagem do Total'] = turno2_zona19.QT_VOTOS / (turno2_zona19.QT_VOTOS.sum()) * 100
turno2_zona19['Soma Acumuluda'] = turno2_zona19.QT_VOTOS.cumsum()
turno2_zona19['Portentagem Acumuluda'] = turno2_zona19['Porcentagem do Total'].cumsum()
display(turno2_zona19.head(13))
 
turno2_zona20 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 20].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona20['Porcentagem do Total'] = turno2_zona20.QT_VOTOS / (turno2_zona20.QT_VOTOS.sum()) * 100
turno2_zona20['Soma Acumuluda'] = turno2_zona20.QT_VOTOS.cumsum()
turno2_zona20['Portentagem Acumuluda'] = turno2_zona20['Porcentagem do Total'].cumsum()
display(turno2_zona20.head(13))
 
turno2_zona21 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 21].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona21['Porcentagem do Total'] = turno2_zona21.QT_VOTOS / (turno2_zona21.QT_VOTOS.sum()) * 100
turno2_zona21['Soma Acumuluda'] = turno2_zona21.QT_VOTOS.cumsum()
turno2_zona21['Portentagem Acumuluda'] = turno2_zona21['Porcentagem do Total'].cumsum()
display(turno2_zona21.head(13))

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,32150,50.851747,32150,50.851747
1,LUIZ INÁCIO LULA DA SILVA,28563,45.178179,60713,96.029926
2,VOTO NULO,1453,2.298214,62166,98.328140
3,VOTO BRANCO,1057,1.671860,63223,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,49933,53.915757,49933,53.915757
1,LUIZ INÁCIO LULA DA SILVA,39511,42.662477,89444,96.578234
2,VOTO NULO,1708,1.844234,91152,98.422468
3,VOTO BRANCO,1461,1.577532,92613,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,35941,59.634306,35941,59.634306
1,LUIZ INÁCIO LULA DA SILVA,22008,36.516285,57949,96.150592
2,VOTO NULO,1350,2.239958,59299,98.390549
3,VOTO BRANCO,970,1.609451,60269,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,48576,57.626194,48576,57.626194
1,LUIZ INÁCIO LULA DA SILVA,32566,38.633371,81142,96.259565
2,VOTO NULO,1755,2.081974,82897,98.341539
3,VOTO BRANCO,1398,1.658461,84295,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,60743,56.126588,60743,56.126588
1,LUIZ INÁCIO LULA DA SILVA,43476,40.171864,104219,96.298452
2,VOTO NULO,2270,2.097482,106489,98.395934
3,VOTO BRANCO,1736,1.604066,108225,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,61430,54.747518,61430,54.747518
1,LUIZ INÁCIO LULA DA SILVA,46912,41.808816,108342,96.556334
2,VOTO NULO,2073,1.847495,110415,98.403829
3,VOTO BRANCO,1791,1.596171,112206,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,64823,57.282351,64823,57.282351
1,LUIZ INÁCIO LULA DA SILVA,44223,39.078682,109046,96.361034
2,VOTO NULO,2361,2.086353,111407,98.447386
3,VOTO BRANCO,1757,1.552614,113164,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,61537,55.958497,61537,55.958497
1,LUIZ INÁCIO LULA DA SILVA,44298,40.282261,105835,96.240759
2,VOTO NULO,2336,2.124235,108171,98.364994
3,VOTO BRANCO,1798,1.635006,109969,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,60281,59.869101,60281,59.869101
1,LUIZ INÁCIO LULA DA SILVA,36787,36.535635,97068,96.404735
2,VOTO NULO,2077,2.062808,99145,98.467543
3,VOTO BRANCO,1543,1.532457,100688,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,34376,54.065616,34376,54.065616
1,LUIZ INÁCIO LULA DA SILVA,26571,41.790129,60947,95.855745
2,VOTO NULO,1439,2.263219,62386,98.118964
3,VOTO BRANCO,1196,1.881036,63582,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,70727,61.402960,70727,61.402960
1,LUIZ INÁCIO LULA DA SILVA,40121,34.831792,110848,96.234753
2,VOTO NULO,2476,2.149585,113324,98.384338
3,VOTO BRANCO,1861,1.615662,115185,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,LUIZ INÁCIO LULA DA SILVA,44107,49.042107,44107,49.042107
1,JAIR MESSIAS BOLSONARO,42385,47.127434,86492,96.169541
2,VOTO NULO,1907,2.120373,88399,98.289914
3,VOTO BRANCO,1538,1.710086,89937,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,78347,57.464006,78347,57.464006
1,LUIZ INÁCIO LULA DA SILVA,52963,38.845982,131310,96.309987
2,VOTO NULO,2910,2.134354,134220,98.444342
3,VOTO BRANCO,2121,1.555658,136341,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,73724,58.924518,73724,58.924518
1,LUIZ INÁCIO LULA DA SILVA,46688,37.315771,120412,96.240289
2,VOTO NULO,2626,2.098852,123038,98.339141
3,VOTO BRANCO,2078,1.660859,125116,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,60354,56.467880,60354,56.467880
1,LUIZ INÁCIO LULA DA SILVA,42653,39.906626,103007,96.374506
2,VOTO NULO,2269,2.122902,105276,98.497408
3,VOTO BRANCO,1606,1.502592,106882,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,56557,53.453996,56557,53.453996
1,LUIZ INÁCIO LULA DA SILVA,45386,42.895893,101943,96.349889
2,VOTO NULO,2163,2.044327,104106,98.394216
3,VOTO BRANCO,1699,1.605784,105805,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,55268,61.097293,55268,61.097293
1,LUIZ INÁCIO LULA DA SILVA,32107,35.493428,87375,96.590721
2,VOTO NULO,1726,1.908047,89101,98.498767
3,VOTO BRANCO,1358,1.501233,90459,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,38523,58.120728,38523,58.120728
1,LUIZ INÁCIO LULA DA SILVA,25193,38.009384,63716,96.130113
2,VOTO NULO,1415,2.134850,65131,98.264963
3,VOTO BRANCO,1150,1.735037,66281,100.000000

,NM_VOTAVEL,QT_VOTOS,Porcentagem do Total,Soma Acumuluda,Portentagem Acumuluda
0,JAIR MESSIAS BOLSONARO,55656,59.050206,55656,59.050206
1,LUIZ INÁCIO LULA DA SILVA,35162,37.306370,90818,96.356576
2,VOTO NULO,1889,2.004202,92707,98.360777
3,VOTO BRANCO,1545,1.639223,94252,100.000000

In [ ]:
print('Ceilandia Norte') # ceilandia norte 
turno1_zona16

print('Samambaia')
turno1_zona13 # ceilandia 

truno2_estatistica = turno2[['NM_VOTAVEL', 'QT_VOTOS']].groupby('NM_VOTAVEL').sum().reset_index()

truno2_estatistica['Porcentagem Acumulada'] = truno2_estatistica.QT_VOTOS / truno2_estatistica.QT_VOTOS.sum() * 100 
truno2_estatistica['Votos Acumulado'] = truno2_estatistica.QT_VOTOS.cumsum()
truno2_estatistica

# ANALISE DE CADA ZONA ELEITORAL NO SEGUNDO TURNO

turno2_zona1 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona1['Porcentagem do Total'] = turno2_zona1.QT_VOTOS / (turno2_zona1.QT_VOTOS.sum()) * 100
turno2_zona1['Soma Acumuluda'] = turno2_zona1.QT_VOTOS.cumsum()
turno2_zona1['Portentagem Acumuluda'] = turno2_zona1['Porcentagem do Total'].cumsum()
display(turno2_zona1.head(13))
 
turno2_zona2 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 2].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona2['Porcentagem do Total'] = turno2_zona2.QT_VOTOS / (turno2_zona2.QT_VOTOS.sum()) * 100
turno2_zona2['Soma Acumuluda'] = turno2_zona2.QT_VOTOS.cumsum()
turno2_zona2['Portentagem Acumuluda'] = turno2_zona2['Porcentagem do Total'].cumsum()
display(turno2_zona2.head(13)
        )
turno2_zona3 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 3].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona3['Porcentagem do Total'] = turno2_zona3.QT_VOTOS / (turno2_zona3.QT_VOTOS.sum()) * 100
turno2_zona3['Soma Acumuluda'] = turno2_zona3.QT_VOTOS.cumsum()
turno2_zona3['Portentagem Acumuluda'] = turno2_zona3['Porcentagem do Total'].cumsum()
display(turno2_zona3.head(13))
 
turno2_zona4 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 4].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona4['Porcentagem do Total'] = turno2_zona4.QT_VOTOS / (turno2_zona4.QT_VOTOS.sum()) * 100
turno2_zona4['Soma Acumuluda'] = turno2_zona4.QT_VOTOS.cumsum()
turno2_zona4['Portentagem Acumuluda'] = turno2_zona4['Porcentagem do Total'].cumsum()
display(turno2_zona4.head(13))
 
turno2_zona5 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 5].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona5['Porcentagem do Total'] = turno2_zona5.QT_VOTOS / (turno2_zona5.QT_VOTOS.sum()) * 100
turno2_zona5['Soma Acumuluda'] = turno2_zona5.QT_VOTOS.cumsum()
turno2_zona5['Portentagem Acumuluda'] = turno2_zona5['Porcentagem do Total'].cumsum()
display(turno2_zona5.head(13))
 
turno2_zona6 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 6].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona6['Porcentagem do Total'] = turno2_zona6.QT_VOTOS / (turno2_zona6.QT_VOTOS.sum()) * 100
turno2_zona6['Soma Acumuluda'] = turno2_zona6.QT_VOTOS.cumsum()
turno2_zona6['Portentagem Acumuluda'] = turno2_zona6['Porcentagem do Total'].cumsum()
display(turno2_zona6.head(13))
 
turno2_zona8 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 8].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona8['Porcentagem do Total'] = turno2_zona8.QT_VOTOS / (turno2_zona8.QT_VOTOS.sum()) * 100
turno2_zona8['Soma Acumuluda'] = turno2_zona8.QT_VOTOS.cumsum()
turno2_zona8['Portentagem Acumuluda'] = turno2_zona8['Porcentagem do Total'].cumsum()
display(turno2_zona8.head(13))
 
turno2_zona9 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 9].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona9['Porcentagem do Total'] = turno2_zona9.QT_VOTOS / (turno2_zona9.QT_VOTOS.sum()) * 100
turno2_zona9['Soma Acumuluda'] = turno2_zona9.QT_VOTOS.cumsum()
turno2_zona9['Portentagem Acumuluda'] = turno2_zona9['Porcentagem do Total'].cumsum()
display(turno2_zona9.head(13))
 
turno2_zona10 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 10].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona10['Porcentagem do Total'] = turno2_zona10.QT_VOTOS / (turno2_zona10.QT_VOTOS.sum()) * 100
turno2_zona10['Soma Acumuluda'] = turno2_zona10.QT_VOTOS.cumsum()
turno2_zona10['Portentagem Acumuluda'] = turno2_zona10['Porcentagem do Total'].cumsum()
display(turno2_zona10.head(13))
 
turno2_zona11 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 11].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona11['Porcentagem do Total'] = turno2_zona11.QT_VOTOS / (turno2_zona11.QT_VOTOS.sum()) * 100
turno2_zona11['Soma Acumuluda'] = turno2_zona11.QT_VOTOS.cumsum()
turno2_zona11['Portentagem Acumuluda'] = turno2_zona11['Porcentagem do Total'].cumsum()
display(turno2_zona11.head(13))
 
# turno2_zona12 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 1].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
# turno2_zona12['Porcentagem do Total'] = turno2_zona12.QT_VOTOS / (turno2_zona12.QT_VOTOS.sum()) * 100
# turno2_zona12['Soma Acumuluda'] = turno2_zona12.QT_VOTOS.cumsum()
# turno2_zona12['Portentagem Acumuluda'] = turno2_zona12['Porcentagem do Total'].cumsum()
# display(turno2_zona12.head(13))
 
turno2_zona13 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 13].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona13['Porcentagem do Total'] = turno2_zona13.QT_VOTOS / (turno2_zona13.QT_VOTOS.sum()) * 100
turno2_zona13['Soma Acumuluda'] = turno2_zona13.QT_VOTOS.cumsum()
turno2_zona13['Portentagem Acumuluda'] = turno2_zona13['Porcentagem do Total'].cumsum()
display(turno2_zona13.head(13))
 
turno2_zona14 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 14].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona14['Porcentagem do Total'] = turno2_zona14.QT_VOTOS / (turno2_zona14.QT_VOTOS.sum()) * 100
turno2_zona14['Soma Acumuluda'] = turno2_zona14.QT_VOTOS.cumsum()
turno2_zona14['Portentagem Acumuluda'] = turno2_zona14['Porcentagem do Total'].cumsum()
display(turno2_zona14.head(13))
 
turno2_zona15 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 15].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona15['Porcentagem do Total'] = turno2_zona15.QT_VOTOS / (turno2_zona15.QT_VOTOS.sum()) * 100
turno2_zona15['Soma Acumuluda'] = turno2_zona15.QT_VOTOS.cumsum()
turno2_zona15['Portentagem Acumuluda'] = turno2_zona15['Porcentagem do Total'].cumsum()
display(turno2_zona15.head(13))
 
turno2_zona16 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 16].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona16['Porcentagem do Total'] = turno2_zona16.QT_VOTOS / (turno2_zona16.QT_VOTOS.sum()) * 100
turno2_zona16['Soma Acumuluda'] = turno2_zona16.QT_VOTOS.cumsum()
turno2_zona16['Portentagem Acumuluda'] = turno2_zona16['Porcentagem do Total'].cumsum()
display(turno2_zona16.head(13))
 
turno2_zona17 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 17].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona17['Porcentagem do Total'] = turno2_zona17.QT_VOTOS / (turno2_zona17.QT_VOTOS.sum()) * 100
turno2_zona17['Soma Acumuluda'] = turno2_zona17.QT_VOTOS.cumsum()
turno2_zona17['Portentagem Acumuluda'] = turno2_zona17['Porcentagem do Total'].cumsum()
display(turno2_zona17.head(13))
 
turno2_zona18 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 18].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona18['Porcentagem do Total'] = turno2_zona18.QT_VOTOS / (turno2_zona18.QT_VOTOS.sum()) * 100
turno2_zona18['Soma Acumuluda'] = turno2_zona18.QT_VOTOS.cumsum()
turno2_zona18['Portentagem Acumuluda'] = turno2_zona18['Porcentagem do Total'].cumsum()
display(turno2_zona18.head(13))
 
turno2_zona19 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 19].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona19['Porcentagem do Total'] = turno2_zona19.QT_VOTOS / (turno2_zona19.QT_VOTOS.sum()) * 100
turno2_zona19['Soma Acumuluda'] = turno2_zona19.QT_VOTOS.cumsum()
turno2_zona19['Portentagem Acumuluda'] = turno2_zona19['Porcentagem do Total'].cumsum()
display(turno2_zona19.head(13))
 
turno2_zona20 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 20].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona20['Porcentagem do Total'] = turno2_zona20.QT_VOTOS / (turno2_zona20.QT_VOTOS.sum()) * 100
turno2_zona20['Soma Acumuluda'] = turno2_zona20.QT_VOTOS.cumsum()
turno2_zona20['Portentagem Acumuluda'] = turno2_zona20['Porcentagem do Total'].cumsum()
display(turno2_zona20.head(13))
 
turno2_zona21 = turno2[['NM_VOTAVEL', 'QT_VOTOS']].loc[turno2.NR_ZONA == 21].groupby('NM_VOTAVEL').sum().sort_values( 'QT_VOTOS', ascending=False).reset_index()
 
turno2_zona21['Porcentagem do Total'] = turno2_zona21.QT_VOTOS / (turno2_zona21.QT_VOTOS.sum()) * 100
turno2_zona21['Soma Acumuluda'] = turno2_zona21.QT_VOTOS.cumsum()
turno2_zona21['Portentagem Acumuluda'] = turno2_zona21['Porcentagem do Total'].cumsum()
display(turno2_zona21.head(13))